.main-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    min-height: 100vh;
}

.course-container div {
    min-height: 100%;
}

.course-holder {
    background: linear-gradient(-235deg, #8FE3CF, #8fe3cf81);
    padding: 50px 0;
}

.container {
    max-width: 85%;
    margin: auto;
}

.me-2 {
    margin-right: 5px;
}

.blue {
    color: #002B5B;
}

.holder {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 50px;
}