.btn-break {
    background: #002B5B;
    color: white;
    border: 0;
    padding: 10px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.break-btns {
    background: #CCD6A6;
    border-radius: 10px;
    display: flex;
    padding: 15px 30px;
    justify-content: space-between;
    align-items: center;
}