.item {
    text-align: center;
}

.user-details-card {
    background: #CCD6A6;
    border-radius: 10px;
    display: flex;
    padding: 15px 30px;
    justify-content: space-between;
    align-items: center;
}