/* my code starts from here */
.course-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  min-height: 100vh;
}

.course-container div {
  min-height: 100%;
}

.course-holder {
  background-color: #F4F6F9;
}

.container {
  max-width: 85%;
  margin: auto;
}

.me-2 {
  margin-right: 5px;
}